/* *, ::after, ::before {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
} */

body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  /* box-sizing: border-box; */
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header */
header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8591d 3px solid;
  width: 100%;
  box-sizing: content-box
}

header h1 a {
  color: inherit;
  text-decoration: none;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  /* float: left; */
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

main {
  min-height: calc(100vh - 180px);
}

/* showcase */
#showcase {
  min-height: 400px;
  /*background: url("./show_case.jpg") no-repeat 0 -400px;*/
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  /* filter: blur(1px);
  -webkit-filter: blur(1px); */
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

/* newsletter */
#newsletter {
  padding: 15px;
  color: #ffffff;
  background: #35424a;
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
  box-sizing: border-box;
}

#newsletter input[type='email'] {
  padding: 4px;
  height: auto;
  width: 250px;
}

/* boxes */
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img {
  height: 180px;
  /* width: 80%; */
}

/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

/* main-col */
article#main-col {
  float: left;
  width: 65%;
}

aside#sidebar .message input,
aside#sidebar .message textarea {
  width: 90%;
  padding: 5px;
}

ul#topics li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

/* main {
  margin-top: 1rem;
} */

article h1, article h2, article h3, article h4, article h5, article h6 {
  color: #444444;
}

/* article */

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

#articles {
  margin-top: 0.5rem;
}

/* #articles article :nth-child(1) {
  margin-top: 5rem;
} */

/* pages */
#pages {
  display: flex;
  align-items: center;
  justify-content: center;
}


footer {
  clear: both;
  position: relative;
  /*height: 200px;*/
  /*margin-top: -200px;*/
  width: 100%;
  padding: 20px;
  /*margin-top: 20px;*/
  color: white;
  background-color: #e8491d;
  text-align: center;
}


/* media queries */
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }

  header {
    font-size: 70%;
  }

  #showcase h1 {
    margin-top: 40px;
  }

  #newsletter button,
  .message button {
    display: block;
    width: 100%;
  }

  #newsletter form input[type='email'],
  .quote input,
  .quote textarea {
    width: 100%;
    margin-bottom: 5px;
  }

  .article-img {
    display: none
  }

  h1 {
    font-size: 1.5rem
  }
  h2 {
    font-size: 1rem
  }
}
