{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
  <head>
    {% include 'blog/base_head.html' %}
    {% block title %}
        {% if title %}
            <title>Prawn Dumpling - {{ title }}</title>
        {% else %}
            <title>Prawn Dumpling</title>
        {% endif %}
    {% endblock title %}
  </head>
{% endblock head %}

  <body>
    <header>
        {% include 'blog/base_header.html' %}
    </header>
    <main>
        <div>
          {% include 'blog/base_message.html' %}

        {% block content %}
        {% endblock %}

        </div>
    </main>
    <footer>
        {% include 'blog/base_footer.html' %}
    </footer>
        {% include 'blog/base_bootstrap.html' %}
  </body>
</html>
