<div class="container">
    <div id="branding">
      <h1>
        <a href="{% url 'website-home'%}"><span class="highlight">Prawn </span> Dumpling</a>
      </h1>
    </div>
    <nav>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button> -->
      <ul>
        <li {%if title == 'Home' %}class="current"{% endif%}><a href="{% url 'blog-home'%}">Home</a></li>
        <li {%if title == 'About' %} class="current"{% endif%}><a href="{% url 'blog-about' %}">About</a></li>
        <!-- <li {%if title == 'Topic' %} class="current"{% endif%}><a href="#">Topics</a></li> -->
        {% if user.is_authenticated %}
            <li><a href="{% url 'post-create' %}">New Post</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>

        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul>
    </nav>
</div>