{% load static %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="description" content="Personal Website" />
<meta name="keywords" content="development, full stack, blog, recipe, travel, albums"/>
<meta name="author" content="Mingxia Li" />
<meta property="og:site_name" content="Prawn Dumpling" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_AU" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="shortcut icon" type="image/png" href="{% static 'blog/favicon.ico' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}"/>

