{% extends 'blog/base_h.html' %}
{% load static %}
{% block content %}
<section id="showcase" style="background: url('{% static 'blog/show_case.jpg' %}') no-repeat 0 -400px;
        background-position: center center;background-size: cover;text-align: center;color: #ffffff;">
<div class="container">
  <h1>Sharing Sparking Moments</h1>
  <p>A live story of a programmer and a recipe lover expecting a new comer to this family</p>
</div>
</section>
<section id="newsletter">
<div class="container">
  <h1>Subscribe To Our Newsletter</h1>
  <form action="">
    <input type="email" placeholder="Enter Email">
    <button type="submit" class="button_1">Subscribe</button>
  </form>
</div>
</section>
<section id="boxes">
<div class="container">
  <div class="box">
  <img src="{% static  'blog/tech_logo.png'%}">
  <h3>Tech</h3>
  <p>Learning and implementing techniques</p>
  </div>
  <div class="box">
  <img src="{% static  'blog/cooking-logo.png'%}">
  <h3>Recipe</h3>
  <p>Cooking brings happines to bellies</p>
  </div>
  <div class="box">
  <img src="{% static  'blog/life_logo.png'%}">
  <h3>Life</h3>
  <p>We do like touring and photography</p>
  </div>
</div>
</section>
{% endblock content %}


