<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Personal Website">
  <meta name="keywords" content="web development, blog, recipe, life experience, phote albums">
  <meta name="author", content="Mingxia Li">
  <title>My Website | Welcome</title>
  <link rel="stylesheet" href="./css/style.css"
</head>
<body>
  <header>
    <div class="container">
      <div id="branding">
        <h1><span class="highlight">Prawn Dumpling</span> Website</h1>
      </div>
      <nav>
        <ul>
          <li class="current"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Topics</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section id="showcase">
    <div class="container">
      <h1>Sharing Sparking Moments</h1>
      <p>A live story of a programmer and a recipe lover expecting a new comer to this family</p>
    </div>
  </section>
  <section id="newsletter">
    <div class="container">
      <h1>Subscribe To Our Newsletter</h1>
      <form action="">
        <input type="email" placeholder="Enter Email">
        <button type="submit" class="button_1">Subscribe</button>
      </form>    
    </div>
  </section>
  <section id="boxes">
    <div class="container">
      <div class="box">
      <img src="./img/tech_logo.png">
      <h3>Tech</h3>
      <p>Learning and implementing techniques</p>
    </div>
      <div class="box">
      <img src="./img/cooking-logo.png">
      <h3>Recipe</h3>
      <p>Cooking brings happines to bellies</p>
    </div>
      <div class="box">
      <img src="./img/life_logo.png">
      <h3>Life</h3>
      <p>We do like touring and photography</p>
    </div>
  </section>

  <footer>
    <p>Prawn Dumpling Website, Copyright &copy;2019</p>
  </footer>

</body>
</html>